        @font-face {
              font-family: 'White Elephant';
              src: url('./assets/fonts/White Elephant/white_elephant-webfont.woff') format('woff');
       }
       
        body 
        {
            font-family: 'Roboto', sans-serif;
            font-size: 14pt;
            margin: 0px auto;
            padding: 0px;
            background-color: #e8e8e8;
        }
        
        h2.homepage
        {
            margin-left: 60px;
            margin-right: 60px;
        }

        img.bg
        {
            width: 100%;
            position: absolute;
        }
        
        #fimage
        {
            float: left;
            align-content: center;
            width: 100%;
        }
        
        a:link
        {
            color: #e3e2e1;
            text-decoration: none;
            text-shadow: 1px 1px 4px #666666;
        }
        
        a:visited
        {
            color: #e3e2e1;
            text-decoration: none;
            text-shadow: 1px 1px 4px #666666;
        }
        
        a:hover
        {
            color: #2D5829;
            text-decoration: none;
            text-shadow: 1px 1px 4px #54B863;
        }
        
        #wrap
        {
            float: left;
            width: 100%;
            clear: both;
            margin: 0 auto;
            padding: 0px;
            position: relative;
        }
        
        .brownhover:hover
        {
            color: #73503f;
            text-shadow: 1px 1px 4px #3c2e27; 
        }
        
        .greenhover:hover
        {
            color: #2D5829;
            text-shadow: 1px 1px 4px #54B863; 
        }
        
        #pagewrap
        {
            padding: 0px;
            width: 98%;
            margin: 0 auto;
            margin-left: 1%;
            overflow: visible;
        }
        
        .menu 
        {
            height: 60px;
            margin: 0px auto;
            padding: 0px;
            font-size: 24pt;
            width: 15%;
            float: left;
            clear: none;
            margin-bottom: 5px;
            align-items: baseline;
            position: relative;
            font-family: 'White Elephant';
        }
        
        .menu a {
            margin: 0 auto;
            position: absolute;
            top: 100%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
 
        }
        
        #logo
        {
            margin: 0px auto;
            padding: 0px;
            width: 10%;
            height: auto;
            float: left;
            clear: none;
            margin-bottom: 5px;
            position: relative;
        }

        .clearcontent 
        {
            width: 50%;
            height: 200px;
            float: left;
            clear: none;
            margin: 0 auto;
            font-size: 200%;
            font-family: 'White Elephant';
            margin-bottom: 5px;
            color: #e3e2e1;
            text-shadow: 1px 1px 4px #666666;
            position: relative;
            text-align: center;
        }

        .cclearcontent 
        {
            width: 100%;
            height: 200px;
            float: left;
            clear: none;
            margin: 0 auto;
            font-size: 200%;
            font-family: 'White Elephant';
            margin-bottom: 5px;
            color: #e3e2e1;
            text-shadow: 1px 1px 4px #666666;
            position: relative;
            text-align: center;
        }
        
        .cupcontent 
        {
            width: 80%;
            float: left;
            margin: 0 auto;
            margin-left: 10%;
            background-color: #e8e8e8;
            margin-bottom: 5px;
            position: relative;
        }

        .headline 
        {
            width: 80%;
            float: left;
            clear: none;
            margin: 0 auto;
            margin-left: 10%;
            font-size: 200%;
            font-family: 'White Elephant';
            margin-bottom: 5px;
            color: #333333;
            text-align: center;
        }

        .lowline 
        {
            width: 80%;
            float: left;
            clear: none;
            margin: 0 auto;
            margin-left: 10%;
            font-family: 'Roboto';
            margin-bottom: 5px;
            color: #333333;
            text-align: center;
        }

        p.page
        {
            width: 60%;
            float: left;
            clear: none;
            margin: 0 auto;
            margin-left: 20%;
            font-size: 1rem;
            font-family: 'Roboto';
            margin-bottom: 5px;
            color: #000000;
            text-align: justify;
            
        }
        
        .footers 
        {
            width: 25%;
            float: left;
            margin: 0 auto;
            background-color: #cccccc;
            clear: none;
            height: 20%;
            margin-bottom: 5px;
        }
        
        #foot
        {
            width: 80%;
            margin: 0 auto;
            margin-left: 10%;
            background-color: #e3e2e1;
            color: #3c3c3c;
            clear: both;
            float: left;
            position: absolute;
            
        }

        /**************************************BOOKING*********************************************/
            
            #bookingh1 {
                font-family: 'White Elephant';
                font-size: 30pt;
                letter-spacing: 2.5pt;
            }
            h3 {
                display: block;
                clear: both;
                font-family: 'White Elephant';
                font-size: 25pt;
                letter-spacing: 1pt;
            }
            p, label, placeholder, legend { font-family: 'Roboto'; }

            .contact1 {
                width: 50%;
                height: auto;
                float: left;
            }
            .contact2 {
                width: 50%;
                height: auto;
                float: left;
            }
            h3 {
                font-size: 18pt;
                font-kerning: none;
                font-weight: bolder;
            }
            p {
                line-height: normal;
                margin: 0;
                padding: 0;
                display: inline;
            }
            label, legend { font-weight: bold; }
            fieldset {
                margin-bottom: 2px;
                padding: 0;
                margin-left: 0;
                border: 0;
            }
            #submit_reset {
                float: right;
                margin-right: 2%;
            }
            input {
                background-color: #fbfbfb;
                border: 2px grey;
                vertical-align: middle;
                height: 30px;
                width: auto;
                display: inline;
            }
            textarea { 
                background-color: #fbfbfb;
                border: 2px grey;
                width: 95%
            }
            .input100 {
                width: 95%;
            }
            .input50 {
                width: 47%;
            }
            select {
                width: 47.5%;
            }
            input[type=checkbox] {
                display: inline-block;
            }
            input[type=submit] {
                margin-bottom: 5px;
                color: #e8e8e8;
                font-size: 14pt;
                width: 200px;
                height: 50px;
                padding:5px 15px; 
                background:#393735; 
                border:0 none;
                cursor:pointer;
                -webkit-border-radius: 5px;
                border-radius: 5px;
            }
            input[type=reset] {
                margin-bottom: 5px;
                color: #e8e8e8;
                font-size: 14pt;
                width: 200px;
                height: 50px;
                padding:5px 15px;
                background:#393735; 
                border:0 none;
                cursor:pointer;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                input[type="reset"]:hover { background: red; }
            }

/** PRODUCTS **/

#productframe
{
    width: 60%;
    margin: 0 auto;
    height: 500px;
    display: block;
}

.productImages  {
    width: 30%;
    margin: 2.5% auto;
    margin-left: 2.5%;
    float: left;
}

.framecontent 
{
    text-align: center;
    width: 100%;
    height: 50px;
    float: left;
    clear: none;
    margin: 0 auto;
    font-size: 200%;
    font-family: 'White Elephant';
    margin-bottom: 5px;
    color: #e3e2e1;
    text-shadow: 1px 1px 4px #666666;
        }
        /**************************************OTHER*********************************************/

#map
{
    width: 40%;
    height: 400px;
    margin: 0 auto;
    margin-right: 5%;
    float: right;
}

#subtit
{
    text-decoration: underline;
    font-weight: 800
}

        .clear 
        {
            width: 50%;
            float: left;
            clear: none;
            margin: 0 auto;
            font-size: 200%;
            margin-bottom: 5px;
            margin-left: 5%
        }

